﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        html, body {
            height: 100%;
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
<body>

    <h2>Kalendarz dla lekarza</h2>
    @{Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml");}
    @Html.Raw(Model.Render())

</body>
</html>
