﻿@{
    ViewBag.Title = "TakesCare";
}
@model CalendarAndVidyo.ViewModels.ViewModel

@Html.Raw(Model.Scheduler.GenerateCSS())
@Html.Raw(Model.Scheduler.GenerateJS())

<script src="@Url.Content("~/Scripts/scripts.js?v=121015")" type="text/javascript"></script>
<link href="~/Content/Calendar.css" rel="stylesheet" />
<style type="text/css">
    /*override some scheduler css*/
    #scheduler_here .dhx_cal_tab
    {
       /* display:none;*/
    }
    .dhx_cal_header div div
    {
        border:none;
    }
    .dhx_cal_data
    {
        background-color:#fff;
    }
    .dhx_cal_event_line {
        background-image:none;
        background-color:#FFDD71;
        font-size:13px;
        line-height:@((Model.Scheduler.Views[0] as DHTMLX.Scheduler.Controls.TimelineView).EventDy)px;
    }
    .dhx_matrix_scell
    {
        max-width:@((Model.Scheduler.Views[0] as DHTMLX.Scheduler.Controls.TimelineView).Dx)px;
    }
    .dhx_cal_event_line .dhx_event_resize {
        background-image: none;
    }

    .dhx_cal_light_wide .dhx_cal_lsection {
        width:130px;
    }

</style>
<script>
        //define template for timeline units
        function def_template(){
            scheduler.templates['@((Model.Scheduler.Views[0]).Name)_scale_label']= function(key, label, obj){
                return "<div style=\"width:100%\">\
               <div class=\"car_brand\">"+label+"</div><div class=\"car_price\">"+obj.price+"</div></div>";

            };
        }



</script>
<div style="height:750px">
    <div class="message">&nbsp; @ViewBag.Message </div>
<div style="float:left; width:230px;height:100%;">



    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <div class="search_form">

        <div class="form_head">
            <span class="rent_title">Kalendarz Pacjenta</span><br />
            <span class="rent_small"></span><br />
            <div class="hd_line"></div>
        </div>
        <div class="controls">
            
            

            <div>
                <span>Terminy od:</span><br />
                @Html.TextBox("DateFrom")
                <img src="@Url.Content("~/Content/calendar.gif")" class="date_calendar" onclick="show_minical('DateFrom', $('#DateFrom').val());" />
                @Html.DropDownList("TimeFrom")
            </div>
            <div>
                <span>Terminy do:</span><br />
                @Html.TextBox("DateTo")
                <img src="@Url.Content("~/Content/calendar.gif")" class="date_calendar" onclick="show_minical('DateTo', $('#DateFrom').val());" />
                @Html.DropDownList("TimeTo")
            </div>

            

            <div>
                <input type="submit" id="submit" value="Szukaj!" />
            </div>
        </div>
    </div>
}

</div>
<div style="float:left; width:950px;height:100%;">
    @if (!string.IsNullOrEmpty((string)ViewData["Message"]))
{
    <script>
    dhtmlx.message("@ViewData["Message"]");
    </script>

}
@{
    //calculate height of calendar container
    int rowHeigth = (Model.Scheduler.Views[0] as DHTMLX.Scheduler.Controls.TimelineView).Dy;
    int headerHeight = 45;
    int showRows = 7;
    int actualHeight = rowHeigth * Model.CategoryCount + headerHeight;
    int maxHeight = headerHeight + showRows * rowHeigth;
}
<div style="height:@(actualHeight < maxHeight ? actualHeight : maxHeight)px;">
    @Html.Raw(Model.Scheduler.GenerateHTML())

</div>

</div>
<div class="clear"></div>
<script>


    //after created/edited rent order - navigate calendar to its start date
    scheduler.attachEvent("onEventSave", function (id, data, is_new_event) {
        if (data.start_date) {
            scheduler.setCurrentView(new Date(data.start_date));
        }
        return true;
    });

</script>
</div>

